@import "../../vendor/Fonts/fonts.css";

.profile {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #202020;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
}

.profile__container {
  padding: 75px 0 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  margin: 0 auto;
  max-width: 410px;
}

.profile__header {
  margin: 0;
  padding: 0 0 123px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  text-align: center;
}

.profile__form {
  max-width: 410px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.profile__label {
  margin: 0 0 30px 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #fff;
  border-bottom: 1px solid transparent;
}

.profile__input:read-only {
  color: #fff;
}

.profile__input {
  margin: 0;
  padding: px 0 0;
  border: none;
  width: 100%;
  background-color: transparent;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
}

.profile__label:has(.profile__input:focus) {
  border-bottom: 1px solid #424242;
}

.profile__label:has(.profile__input:read-only) {
  border-bottom: none;
}

.profile__label:first-of-type:has(.profile__input:read-only) {
  border-bottom: 1px solid #424242;
}

.profile__input {
  border: none;
  outline: none;
  color: #fff;
}

.profile__input-error {
  color: #ee3465;
}

.profile__link-container {
  margin: 0;
  padding: 190px 0 0 0;
  width: 100%;
  display: block;
}

.profile__btn-edit {
  display: block;
  margin: 0 auto;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  opacity: 1;
  transition: 0.1s linear;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
}

.profile__btn-edit:hover {
  opacity: 0.7;
}

.profile__btn-logout {
  display: block;
  margin: 0 auto;
  padding: 16px 0 0 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ee3465;
  opacity: 1;
  transition: 0.1s linear;
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

.profile__btn-logout:hover {
  opacity: 0.7;
}

@media (max-width: 900px) {
  .profile__container {
    margin: 0 auto;
    padding: 236px 0 268px 0;
    max-width: 410px;
  }
  .profile__header {
    padding: 0 0 96px 0;
  }
  .profile__link-container {
    padding: 180px 0 0 0;
  }
}

@media (max-width: 560px) {
  .profile__container {
    padding: 70px 0 40px 0;
  }
  .profile__form {
    max-width: 260px;
    width: 100%;
  }
  .profile__header {
    padding: 0 0 80px 0;
  }

  .profile__link-container {
    padding: 347px 0 0 0;
  }
  .profile__btn-edit {
    font-size: 12px;
  }
  .profile__btn-logout {
    font-size: 12px;
  }
}
