@import "../../vendor/Fonts/fonts.css";

.burger__button {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url(../../images/icon-burger.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 28px 23px;
  opacity: 1;
}

.burger__button:focus,
.burger__button:hover {
  opacity: 0.7;
}

.burger__button:focus .burger__icon,
.burger__button:hover .burger__icon {
  background-color: rgba(0, 0, 0, 0.1);
}

.burger__button.show .burger__icon {
  transform: rotate(45deg);
}

.burger__button.show .burger__icon::before {
  transform: translateY(0) rotate(45deg);
}

.burger__button.show .burger__icon::after {
  transform: translateY(0) rotate(-45deg);
}

.burger__container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 68%;
  max-width: 400px;
  background-color: #202020;
  z-index: 999;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
}

.burger__container.show {
  transform: translateX(0);
}

.burger__close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 22px;
  height: 22px;
  background-image: url(../../images/icon-close-btn.svg);
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.1s linear;
}

.burger__close:hover {
  opacity: 0.7;
}

.burger__links {
  margin: 0;
  padding: 160px 0 92px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto) 1fr;
  justify-items: center;
  height: 100%;
  box-sizing: border-box;
}

.burger__link {
  margin: 0 0 16px 0;
  padding: 4px 0;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  opacity: 1;
  transition: 0.1s linear;
}

.burger__link:last-child {
  align-self: end;
  margin-bottom: 0;
}

.burger__link.active {
  text-decoration: underline;
  text-underline-offset: 7px;
}

.burger__link:hover {
  opacity: 0.7;
}

.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.burger__container.show + .page-overlay {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (min-width: 769px) {
  .burger__button {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .page-overlay {
    display: none;
  }

  .burger__container {
    width: 100%;
    max-width: initial;
  }

  .burger__close {
    top: 14px;
    right: 14px;
  }
}
