.label__input-name {
  margin: 0 0 10px 0;
  display: block;
  font-size: 10px;
  font-weight: 400;
  color: #8b8b8b;
}

.label__input_error {
  color: #ee3465;
}

.label__error-message {
  min-height: 12px;
  display: block;
  font-size: 10px;
  font-weight: 400;
  color: #ee3465;
}
.label__input {
  margin: 0 0 10px 0;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  background-color: #2f2f2f;
}
