@import "../../vendor/Fonts/fonts.css";

.not-found {
  margin: 0 auto;
  padding: 246px 0 60px;
  color: #fff;
  background-color: #202020;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
}

.not-found__title {
  font-weight: 400;
  font-size: 140px;
  line-height: 170px;
  text-align: center;
  margin: 0;
}

.not-found__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 5px 0 0;
}

.not-found__link {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4285f4;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  margin: 184px auto 0;
  background-color: transparent;
  border: none;
  transition: opacity 0.2s linear;
}

.not-found__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .not-found {
    padding-top: 408px;
    padding-bottom: 222px;
  }
}

@media screen and (max-width: 576px) {
  .not-found {
    padding-top: 329px;
    padding-bottom: 30px;
  }
  .not-found__title {
    font-size: 80px;
    line-height: 97px;
  }
  .not-found__description {
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px;
  }
  .not-found__link {
    font-size: 12px;
    line-height: 15px;
    margin-top: 284px;
  }
}
