.icon-profile {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 17px;
  }
  
  .icon-profile__text {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
  }
  
  .icon-profile__icon {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 26px;
    height: 26px;
    background-color: #313131;
    background-image: url(../../images/icon-profile.svg);
    background-repeat: no-repeat;
    background-size: 12px 14px;
    background-position: center center;
    border-radius: 50px;
  }