@import "../../vendor/Fonts/fonts.css";

.footer {
  font-size: 13px;
  line-height: 16px;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  padding: 120px 70px 0 70px;
  margin-top: auto;
  background-color: #202020;
}

.footer__header {
  margin: 0;
  padding: 0 0 20px 0;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  border-bottom: #424242 solid 1px;
  color: #8b8b8b;
}

.footer__credits {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.footer__item_year {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}

.footer__items {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer__item {
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  transition: opacity 0.3s linear;
  text-decoration: none;
}

.footer__item:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 120px 27px 0 32px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    font-size: 12px;
    line-height: 15px;
    padding: 129px 11px 0 10px;
  }

  .footer__header {
    font-size: 12px;
    line-height: 15px;
  }
  .footer__credits {
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 10px;
  }

  .footer__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 0;
    margin: 0 auto 30px;
    list-style-type: none;
  }
  .footer__item {
    font-size: 12px;
    font-weight: 400;
  }
  .footer__item_year {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    color: #8b8b8b;
  }
}
