@import "../../vendor/Fonts/fonts.css";

.btn-submit {
  margin: 0 auto;
  padding: 15px;
  display: block;
  border: 0;
  border-radius: 3px;
  background-color: #3456f3;
  width: 100%;
  cursor: pointer;
  opacity: 1;
  transition: 0.1s linear;
  font-size: 14px;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
}

.btn-submit:disabled {
  background-color: #8ab1f0;
  color: #c2c2c2;
  cursor: default;
}

.btn-submit:disabled:hover {
  opacity: 1;
}

.btn-submit:hover {
  opacity: 0.7;
}
